<div class="app-login-form">
  <h2>{{ isLoginMode ? "Login here" : "SignUp here" }}</h2>
  <app-snackbar *ngIf="errorMessage">{{ errorMessage }}</app-snackbar>
  <app-loader *ngIf="isLoading"></app-loader>
  <form *ngIf="!isLoading" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div class="form-input">
      <label>Email Address</label>
      <input
        type="email"
        placeholder="Email address"
        name="email"
        ngModel
        required
      />
    </div>
    <div class="form-input">
      <label>Password</label>
      <input
        type="password"
        placeholder="Password"
        name="password"
        ngModel
        required
        minlength="8"
      />
    </div>
    <button [disabled]="authForm.invalid" type="submit" class="app-login-btn">
      {{ isLoginMode ? "Login" : "Register" }}
    </button>
    <p>
      {{
        isLoginMode ? "Don't have an accout yet?" : "Already have an accout?"
      }}
      <button class="app-toggle-btn" type="button" (click)="onSwitchMode()">
        {{ isLoginMode ? "Register Here." : "Login Here" }}
      </button>
    </p>
  </form>
</div>
